@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --map-bg-color: rgb(34, 34, 34);

    --monospace-font: 'Jetbrains Mono', monospace;

    --swiper-pagination-bullet-inactive-color: gray;
    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 1em;
}

body {
    background-color: var(--map-bg-color);

    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    color: white;
}

header {
    padding: 1em;
    padding-top: 2.5em;

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

header > h1, h3 {
    margin: 0;
}

header > h1 {
    font-family: 'Lora', serif;
}

header > h3 {
    font-family: 'Ma Shan Zheng', cursive;
}

#date {
    color: rgb(180, 180, 180)
}

#description {
    color: rgb(180, 150, 150);
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0.5em;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    padding: 1em;
    text-align: center;
    font-family: var(--monospace-font);
    color: rgb(255, 200, 255);
    font-size: 1em;
}

a {
    color: rgb(200, 150, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

#view-all {
    background-color: transparent;
    color: rgb(255, 215, 215);
    border: 1px solid rgb(255, 215, 215);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    font-family: var(--monospace-font);
    width: fit-content;
    transition: transform ease 200ms;
}

#view-all:hover {
    border: 1px solid white;
    color: white;
    transform: translateY(-2px);
}

#view-all:focus {
    outline: 1px solid white;
}

#map {
    height: 100%;
    background-color: var(--map-bg-color);
}

#map:focus {
    outline: none;
}

.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.leaflet-popup-content * {
    margin: 0!important;
}

.cover {
    width: 20em;
    border-radius: 1em;
    transition: transform ease 300ms;
}

.cover:hover {
    transform: scale(102%);
}

.cover-caption {
    cursor: pointer;
}

.cover-caption:hover {
    filter: brightness(170%);
}

#gallery-wrapper {
    z-index: 1000;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

#gallery-close-btn {
    z-index: 1000;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 5em;
}

#gallery, #gallery-wrapper,
.swiper, .swiper-wrapper,
.swiper-slide-styles {
    width: 100%;
    height: 100%;
}

.swiper-slide-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* I absolutely hate CSS so much

<https://stackoverflow.com/questions/61589592/flexbox-flex-1-grows-too-large-when-img-is-too-big-with-height-100>
*/
.gallery-image-wrapper {
    flex: 1;
    min-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.gallery-image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    background: url('./assets/loading.svg') no-repeat scroll center center;
}

.swiper-slide-styles p {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;

    margin-top: 0;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.swiper-pagination {
    font-family: var(--monospace-font);
    color: rgb(172, 106, 106);
}

.swiper-button-next, .swiper-button-prev {
    color: rgb(172, 106, 106);
}

@media (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
}